<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EcoClothes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EcoClothes.Properties.Settings.EkodrehiConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Ekodrehi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <EcoClothes.Properties.Settings>
            <setting name="red" serializeAs="String">
                <value>False</value>
            </setting>
        </EcoClothes.Properties.Settings>
    </userSettings>
</configuration>